body{
    background-color: darkgreen;
    color:white;

}
header {
    display: flex;
    justify-content: center;
}
.mainImg{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 500px;
}
.glenn{
    background-image: url("images/glenn.jpg");
    background-repeat: no-repeat;
    width: 460px;
    height: 460px;
    background-attachment: fixed;
    background-position: center 30%;

}
h1{
    font-size: 64px;
}
.character{
    font-size: 54px;
}

.rounded-circle{
    width:150px;
    height:150px;
}
.card-img{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

footer, .wenkesPage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightyellow;
    color: black;
}
